<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>
    <mat-icon>book</mat-icon>
    Digital Library
  </span>

  <span class="spacer"></span>
  <div class="nav-links">
    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/about">About</a>
    <a mat-button routerLink="/library">Library</a>
    <a mat-button routerLink="/mybooks">My Books</a>
    <button mat-icon-button routerLink="/search">
      <mat-icon>search</mat-icon>
    </button>
    <a mat-raised-button *ngIf="!isLoggedIn" color="accent" routerLink="/login"
      >Login</a
    >
    <ng-container *ngIf="isLoggedIn">
      <span>Hello, {{ username }}</span>
      <button mat-raised-button color="warn" (click)="logout()">Logout</button>
    </ng-container>
  </div>
</mat-toolbar>
